---
layout: default
---
<header>
  <div id="svganimation">
    {% include logo.svg %}
  </div>
  <h1>{{ site.description }}</h1>
</header>
<main>
  
  <button onclick="window.open('https://cloud.basspistol.org/index.php/apps/forms/s/L63yARojMbojB7RHHmT2Hbsk');">
    RSVP
  </button>
  <div id="funds" class="swing animated">
    <a href="https://cloud.basspistol.org/index.php/apps/forms/s/zKZ8b2o8B7C3DL8RF8RfQPY6">{% include fund.svg %}</a>
  </div>
</main>
<footer>
  <div class="spark">
    {% include spark.svg %}
  </div>
</footer>
