---
layout: default
---
<header>
  <div id="svganimation">
    {% include logo.svg %}
  </div>
  <h1>{{ site.description }}</h1>
</header>
<main>
  <div class="spark">{% include spark.svg %}</div>
  <div class="description">

      <p><strong>We are getting married on July 1st and want to celebrate love with you! &#128150;</strong><br />
        <br />
      This will not be a traditional wedding with dress codes, dinner or speeches. Just a nice hang-out together in the sun (hopefully) down by the water in Gr&ouml;ndal, at Caf&eacute; Cul de Sac.<br />
      <br />
      Come as you are, stay as long as you want. Your food and drinks are at your expense. We have rented the sauna and it is next to the Melar lake. So bring swimwear, a towel and something warm for later in the evening.  <br />
      <br />
      Location:<br /> 
      <a href="https://www.cafeculdesac.se/" target="_blank">Cafe Cul de Sac, Gr&ouml;ndal</a><br />
      <br />
      Time: <br />
      Between 5-7pm, possibly longer<br />
      <br />
      The plan may change in case of bad weather and in order for us to be able to keep you updated, please RSVP.<br />
      <br />
      Hug Lie & Set</p>

  </div>
  <button onclick="window.open('https://cloud.basspistol.org/index.php/apps/forms/s/L63yARojMbojB7RHHmT2Hbsk');">
    RSVP
  </button>
  <div id="funds" class="swing animated">
    <a href="https://cloud.basspistol.org/index.php/apps/forms/s/zKZ8b2o8B7C3DL8RF8RfQPY6">{% include fund.svg %}</a>
  </div>
</main>
<footer>
  <div class="spark">
    {% include spark.svg %}
  </div>
</footer>
