#main-wrapper {
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  column-gap: 50px;
}

header > h1 {
  position: relative;
  top: -50px;
  
}
#svganimation {

}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-play-state: paused; 
  animation-play-state: paused; 
}

@keyframes swing {
  0%  {filter: hue-rotate(0deg);}
  20% {
      transform: rotate(5deg);
  }
  40% {
      transform: rotate(-5deg);
  }
  60% {
      transform: rotate(2deg);
  }
  80% {
      transform: rotate(-2deg);
  }
  100% {
      transform: rotate(0deg); filter: hue-rotate(360deg);
  }
}
.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;

}
.swing:hover {

  -webkit-animation-play-state: running;
  animation-play-state: running;
  
}

 #funds {
  width: 150px;
  /* transition: all 1s ease-in-out; */
}

.spark {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
}
.spark > svg {
  width: 30px;
  height: 30px;
  margin-top: -20px;
  margin-bottom: 80px;
}

button {
  width: 150px;
  height: 50px;
  align-self: center;
  margin: 50px 50px 50px 0;
  font-size: 1.5em;
}
svg {
  width: 100%;
  max-width: 1000px;
}

h1 {
  text-align: center;
  text-transform: uppercase;  
  font-weight: 400;
  flex: 1 1 100vw;
  max-width: unset;

}
.description {
  flex: 0 0 100%;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 80px;
  max-width: 550px;
}

@media only screen and (max-width: 1000px) {

  header {
    margin-top: 5vh;
  }
  header > h1 {
    top: 0px;
  }

}

@media only screen and (max-width: 465px) {

  button {
    margin: 50px 0px 50px 0;
  }

}