---
---
<!DOCTYPE HTML>
<!--
  Publikatorized by Sakrecoer
  Free for personal and commercial use under the CCA 3.0 license.                                                                                                                                                                                                      
-->
<html lang="{{ site.lang }}">
<head>
  <title>{{ site.description | strip_html }} | {{ site.title | xml_escape }}</title>
  <meta name="title" content="{{ site.title | xml_escape }} | {{ site.description | strip_html }}" />
  <meta name="description" content="{{ site.description | strip_html }}" />
  <meta name="dc.date.modified" scheme="ISO8601" content="{{ page.last_modified_at | date_to_xmlschema }}" />
  <meta name="robots" content="noindex" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
  <link rel="stylesheet" href="/assets/css/simple.css" />
  <link rel="stylesheet" href="/assets/css/catbug.css" />



<meta property="og:title" content="Lie & Set" />
<meta property="og:locale" content="en" />
<meta property="og:description" content="You're invited!" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:type" content="webpage" />
<meta property="og:image" content="{{ site.url }}{{ site.picture }}" />
<!-- Twitter Card -->

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Lie & Set" />
<meta name="twitter:description" content="You're invited!" />
<meta name="twitter:image" content="{{ site.url }}{{ site.picture }}" />

</head>

<body>


{{ content }}



<!-- End Wrapper -->
</body>
</html>

